<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Hva er Global Game Jam?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p> <a href="https://globalgamejam.org/">Global Game Jam</a> er en nullprofittsorganisasjon som hvert år
          arrangerer et globalt
          spillutviklingsarrangement. Konseptet er at den globale arrangøren kommer med et tema i forkant av
          arrangementet, og så er oppgaven til deltakerne å lage et spill innen dette tema ila tidsfristen.</p>
      </div>
      <div class="col-lg-12 text-center">
        <h3>Hva skjer i Førde?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p> For første gang har vi ved HVL på Campus Førde gleden av å invitere som vertsinstitusjon for Global Game
          Jam. Her skal vi
          samles en helg (26.-28. Januar), og lage spill sammen! Enten du er interessert i å lage dataspill, brettspill,
          liker å programmere, tegne eller egentlig hva som helst som er relatert til spillutvikling, er du hjertelig
          velkommen! </p>
      </div>
    </div>
  </div>
</section>