<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Kva er Global Game Jam?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p> <a href="https://globalgamejam.org/">Global Game Jam</a> er ein nullprofittsorganisasjon som kvart år
          arrangerer ei globalt spelutviklingshending. Konseptet er at den globale arrangøren kjem med eit tema i
          forkant av hendinga, og så er oppgåva til deltakarane å lage eit spel innanfor dette temaet i løpet av 48
          timar.
        </p>
      </div>
      <div class="col-lg-12 text-center">
        <h3>Kva skjer i Førde?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p> For første gong har vi ved HVL på Campus Førde gleda av å invitere som vertsinstitusjon for Global Game Jam.
          Her skal vi samlast ein helg (24.-26. januar), og lage spel saman! Anten du er interessert i å lage dataspel,
          brettspel, kortspel, likar å programmere, teikne eller eigentleg kva som helst som er relatert til
          spelutvikling, er du
          hjarteleg velkomen! Fleire detaljar finn du her:
        </p>
        <a href="{{ site.baseurl }}/about_specifics/" class="btn btn-primary" role="button">Les meir</a>
        <a href="{{ site.baseurl }}/game/" class="btn btn-primary" role="button">Inhouse game</a>
      </div>
    </div>
  </div>
</section>