<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Hva er Global Game Jam?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p> <a href="https://globalgamejam.org/">Global Game Jam</a> er ein nullprofittsorganisasjon som kvart
                    år
                    arrangerer ei globalt spelutviklingshending. Konseptet er at den globale arrangøren kjem med eit
                    tema i
                    forkant av hendinga, og så er oppgåva til deltakarane å lage eit spel innanfor dette temaet i løpet
                    av 48
                    timar.
                </p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <h3>Kva skjer i Førde?</h3>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p> For første gong har vi ved HVL på Campus Førde gleda av å invitere som vertsinstitusjon for Global
                    Game Jam.
                    Her skal vi samlast ein helg (26.-28. januar), og lage spel saman! Anten du er interessert i å lage
                    dataspel,
                    brettspel, kortspel, likar å programmere, teikne eller eigentleg kva som helst som er relatert til
                    spelutvikling, er du
                    hjarteleg velkomen! </p>


            </div>
        </div>
        <div class="col-lg-12 text-center">
            <h3>Viktig informasjon</h3>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left" , style="font-size: large;">
                <ul>
                    <li> Arrangementet finner sted i læringslabbel på HVL Campus Førde, Svanehaugveien 1, 6812 Førde.
                    </li>
                    <li> Dørene åpner fredag 26. januar kl. 14:00, og arrangementet varer til søndag 28. januar kl.
                        16:00.</li>
                    <li> Arrangementet er <strong>gratis</strong> for alle, og åpent for alle over 18 år. </li>
                    <li> Vi kommer til å servere mat og snacks (takk til sponsorene våre) gjennom hele arrangementet. I
                        tillegg er det en Rema
                        1000-butikk på andre siden av gaten. </li>
                    <li> Det er mulig å overnatte på høyskolen. Ta i så fall med sovepose og liggeunderlag, og marker at
                        du vil overnatte i påmeldingsskjema, eller gi beskjed til arrangør. </li>
                    <li> Det er gratis parkering på høyskolen. </li>
                </ul>
            </div>
            </div>
            <div class="col-lg-12 text-center">
                <h3>Hva bør du gjøre?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p> Berre kom og kose deg!
                    Kom seinast kl 14:00 fredag
                Spør oss alt du lurer på med en gong! (Kontakt link her)
             </p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <h3>Hva skal forventer du frå oss?</h3>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p> Mat, Workshop, Keynote speakers, Soveplass for sovepose, god stemning, gøy diskusjoner </p>
            </div>
        </div>
    </div>
</section>