<!-- Program Section -->
<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Program</h2>
                <p><small>(Programmet er ikkje endeleg.)</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display: flex; flex-direction: column; align-items: center;">
                <table style="text-align: left;">
                    <tr>
                        <td colspan="2">
                            <h3><strong>Fredag 26. Januar</strong></h3>
                        </td>
                    </tr>
                    <td style="padding-right: 20px;"><strong>14:00:</strong></td>
                    <td>Registrering</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>16:00:</strong></td>
                        <td>Åpning og praktisk informasjon</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>16:15:</strong></td>
                        <td>Keynote</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>17:00:</strong></td>
                        <td>Global Game Jam tema kunngjering</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>18:00:</strong></td>
                        <td>Mat og idedugnad</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>19:00:</strong></td>
                        <td>Inndeling i grupper og start med spelutvikling</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3><strong>Laurdag 27. Januar</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>09:00:</strong></td>
                        <td> Frukost</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>13:00:</strong></td>
                        <td> Lunsj</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>19:00:</strong></td>
                        <td> Middag</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3><strong>Søndag 28. Januar</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>09:00:</strong></td>
                        <td> Frukost</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>13:00:</strong></td>
                        <td> Lunsj</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>15:00:</strong></td>
                        <td> Frist for å sende inn spel</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>15:15:</strong></td>
                        <td> Framsyning av spela?</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>