<!-- Program Section -->
<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Program</h2>
                <p><small>(Programmet er ikkje endeleg.)</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display: flex; flex-direction: column; align-items: center;">
                <table style="text-align: left;">
                    <tr>
                        <td colspan="2">
                            <h3><strong>Fredag 26. Januar</strong></h3>
                        </td>
                    </tr>
                    <td style="padding-right: 20px;"><strong>14:00:</strong></td>
                    <td>Registrering</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>15:00:</strong></td>
                        <td>Miniworkshop i Godot</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>16:00:</strong></td>
                        <td>Åpning og praktisk informasjon</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>16:50:</strong></td>
                        <td>Sightseeing</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>17:00:</strong></td>
                        <td>Global Game Jam tema kunngjering</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>17:10:</strong></td>
                        <td>Idedugnad</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>18:00:</strong></td>
                        <td>Mat - Pizza</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>19:00:</strong></td>
                        <td>Spelutvikling startar</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3><strong>Laurdag 27. Januar</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>08:30:</strong></td>
                        <td> Frukost</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>09:30:</strong></td>
                        <td> Morgenstrekk</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>13:00:</strong></td>
                        <td> Lunsj - Graut</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>14:00:</strong></td>
                        <td> Samling - Korleis presentere spela</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>15:00:</strong></td>
                        <td> Turnering i Mario Kart</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>18:00:</strong></td>
                        <td> Mat - Sushi</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3><strong>Søndag 28. Januar</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>08:30:</strong></td>
                        <td> Frukost</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>09:30:</strong></td>
                        <td> Morgenstrekk</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>11:00:</strong></td>
                        <td> Vaflar</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>14:00:</strong></td>
                        <td> Mat - Indisk</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>15:00:</strong></td>
                        <td> Frist for å sende inn spel</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>15:30:</strong></td>
                        <td> Framsyning av spela</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;"><strong>17:30:</strong></td>
                        <td> Utdeling av premiar</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>