<!-- Sign-up Section -->
<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Påmelding:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Alle som vil er hjarteleg velkomne til å delta, men ein må registrere seg i skjemaet under.
                    Påmeldingsfristen er <strong>19. Januar</strong>.
                </p>
                <a href="https://forms.office.com/e/bp6LPmSDmh" class="btn btn-primary" role="button">Register deg
                    her</a>
            </div>
        </div>
    </div>
</section>