<!-- Sponsors Section -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sponsors</h2>
                <a href="https://www.hvl.no/en/research/group/robotics/"><img class="logo"
                        src="img/portfolio/hvlrobotics.png" alt="HVLRobotics" style="max-height: 150px; display: inline-block;"></a>
                <a href="https://polyfjord.com/"><img class="logo" src="img/portfolio/polyfjord_logo.svg"
                        alt="Polyfjord" style="max-height: 350px; display: inline-block;"></a>
                <a href="https://www.goodtech.no/"><img class="logo" src="img/portfolio/goodtech-logo-black-01.png"
                    alt="Goodtech" style="max-height: 150px; display: inline-block;"></a>
                <a href="https://hvl.no"><img class="logo" src="img/portfolio/hvl_logo.png" alt="HVL" style="max-height: 150px; display: inline-block;"></a>
            </div>
        </div>
    </div>
</section>
